USE [master]
GO
/****** Object:  Database [TestTek4Tv]    Script Date: 22/09/2022 10:03:59 ******/
CREATE DATABASE [TestTek4Tv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestTek4Tv', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestTek4Tv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestTek4Tv_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestTek4Tv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestTek4Tv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestTek4Tv]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryWork]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryWork](
	[CategoryId] [int] NOT NULL,
	[WorkingId] [int] NOT NULL,
 CONSTRAINT [PK_CategoryWork] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[WorkingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderId] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prioritized]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioritized](
	[PrioritizedId] [int] IDENTITY(1,1) NOT NULL,
	[PrioritizedName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Prioritized] PRIMARY KEY CLUSTERED 
(
	[PrioritizedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUser]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUser](
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_RoleUser] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](500) NULL,
	[Address] [nvarchar](max) NULL,
	[Mobile] [nvarchar](12) NULL,
	[GenderId] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWork]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWork](
	[UserId] [int] NOT NULL,
	[WorkingId] [int] NOT NULL,
 CONSTRAINT [PK_UserWork] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[WorkingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Working]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Working](
	[WorkingId] [int] IDENTITY(1,1) NOT NULL,
	[WorkingName] [nvarchar](500) NULL,
	[DateCreate] [date] NULL,
	[Deadline] [date] NULL,
	[WorkingStatusId] [int] NULL,
	[PrioritizedId] [int] NULL,
	[UserConfirm] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_WorkAndUser] PRIMARY KEY CLUSTERED 
(
	[WorkingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkingStatus]    Script Date: 22/09/2022 10:03:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkingStatus](
	[WorkingStatusId] [int] IDENTITY(1,1) NOT NULL,
	[WorkingStatusName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_WorkingStatus] PRIMARY KEY CLUSTERED 
(
	[WorkingStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoryWork]  WITH CHECK ADD  CONSTRAINT [FK_CategoryWork_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryWork] CHECK CONSTRAINT [FK_CategoryWork_Category]
GO
ALTER TABLE [dbo].[CategoryWork]  WITH CHECK ADD  CONSTRAINT [FK_CategoryWork_Working] FOREIGN KEY([WorkingId])
REFERENCES [dbo].[Working] ([WorkingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryWork] CHECK CONSTRAINT [FK_CategoryWork_Working]
GO
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_RoleUser_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_RoleUser_Role]
GO
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_RoleUser_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_RoleUser_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([GenderId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Gender]
GO
ALTER TABLE [dbo].[UserWork]  WITH CHECK ADD  CONSTRAINT [FK_UserWork_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserWork] CHECK CONSTRAINT [FK_UserWork_User]
GO
ALTER TABLE [dbo].[UserWork]  WITH CHECK ADD  CONSTRAINT [FK_UserWork_Working] FOREIGN KEY([WorkingId])
REFERENCES [dbo].[Working] ([WorkingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserWork] CHECK CONSTRAINT [FK_UserWork_Working]
GO
ALTER TABLE [dbo].[Working]  WITH CHECK ADD  CONSTRAINT [FK_WorkAndUser_Prioritized] FOREIGN KEY([PrioritizedId])
REFERENCES [dbo].[Prioritized] ([PrioritizedId])
GO
ALTER TABLE [dbo].[Working] CHECK CONSTRAINT [FK_WorkAndUser_Prioritized]
GO
ALTER TABLE [dbo].[Working]  WITH CHECK ADD  CONSTRAINT [FK_WorkAndUser_WorkingStatus] FOREIGN KEY([WorkingStatusId])
REFERENCES [dbo].[WorkingStatus] ([WorkingStatusId])
GO
ALTER TABLE [dbo].[Working] CHECK CONSTRAINT [FK_WorkAndUser_WorkingStatus]
GO
USE [master]
GO
